<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Tony's Portfolio - Web Developer" />
    <link rel="stylesheet" href="/assets/styles/reset.css" />
    <link rel="stylesheet" href="/assets/styles/styles.css" />
    <title>Tony - {{ pageTitle }}</title>
  </head>
  <body>
    <div class="page">
      {% include "header.njk" %}
      <main class="main-content">
        {{ content | safe }}
      </main>
      {% include "footer.njk" %}
    </div>
  </body>
</html>
