:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: var(--system-ui);
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
}

.global-container {
  max-width: 800px;
  flex-grow: 1;
  padding-bottom: 1rem;

  display: grid;
  grid-template-rows: auto auto 1fr;
}

.main-header {
  padding: 3rem 0.7rem;
}

.main-header h1 {
  text-shadow: 2px 2px 4px rgba(76, 15, 126, 0.8);
  text-align: center;
}

.h1-dev {
  color: #72008f;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
  display: inline-block;
  padding-top: 0.7rem;
}

.project-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
  justify-content: center;
  gap: 2rem;
}

.project-items-container article {
  display: contents;
}

.project-items-container a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  text-align: center;
}

.project-items-container a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.project-items-container a:hover {
}

.project-items-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 0; /* Start from 0 */
  height: 3px;
  background-color: rgba(255, 255, 255, 0.85);
  transition: width 0.3s ease-in-out;
}

.project-items-container a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  right: 50%;
  width: 0;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.85);
  transition: width 0.3s ease-in-out;
}

.project-items-container a:hover::after,
.project-items-container a:hover::before {
  width: 50%; /* Animate to full width */
}

.project-items-container img {
  filter: brightness(0.9);
}

.project-items-container a:hover img {
  filter: brightness(1);
}

.main-footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
